@font-face {
    font-family: 'bellefairregular';
    src: url('../assets/fonts/bellefair-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/bellefair-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow_condensedregular';
    src: url('../assets/fonts/barlowcondensed-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/barlowcondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}